body{
    background-color: #2a2a2a;
    display: flex;
    align-items:  center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    font-family: 'Comic Neue', cursive;
    overflow: hidden;

}



#configuracao{
    position: absolute;
    top: 50px;
    left: 20px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
#botaoConfiguracao{
    position: relative;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    width: 50px;
    height: 50px;
}

#imagemConfiguracao{
    width: 50px;
    height: 50px;
}

#telaConfiguracao{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

#imagemVoltarConfiguracao{
    width: 50px;
    height: 50px;
}

#botaoFecharConfiguracao{
    position: absolute;
    top: 20px;
    left: 20px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    width: 50px;
    height: 50px;
}


#quadradoConfiguracao{
    position: relative;
    width: 60%;
    height: 80%;
    background-color: #3e3e32;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    border-radius: 20px;
}


header{
    /* background-color: #ab0000; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 30vh;
}

header h1{
    color: white;
    font-size: 50px;
    text-shadow: 2px 20px 10px black;
    margin: 0;
    padding: 0;
    text-align: center;
  
}

header h2{
    color: white;
    font-size: 20px;
    text-shadow: 2px 20px 10px black;
    margin: 0;
    padding: 0;
    text-align: center;
  
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 10vh;
}

header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    color: white;
    margin: 0;
    padding: 0;
    /* width: 10%; */
    /* height: 10vh; */
}

header li{
    margin-left: 10px;
    padding: 0;
    font-size: 18px;
    /* background-color: red; */
}


#container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 60vh;
}

#mineracao{
    width: 60%;
    height: 70vh;
    background-color: rgb(58, 58, 58);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px 0px 0px 20px;
}

#vidaPedra{
    background-color: rgb(231, 18, 18);
    border-radius: 20px;
    width: 80%;
    height: 20px;
    display: flex;
    align-items: center;
    margin: 10px;

}

#vidaPerdida{
    background-color: green;
    width: 100%;
    height: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}

#conjuntoMineracao{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: rgb(58, 30, 30);
    height: 60vh;
    width: 80%;
    margin-bottom: 20px;
    border-radius: 15px;
}

#botaoMinerar{
    background-color: green;
    border-radius: 20px;
    width: 100%;
    height: 20px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

#botaoMinerar:hover{
    background-color: #09390b;
}

#botaoMinerar:active{
    transform: scale(0.9);
    background-color: #1f5d21;
}

#picareta{
    /* background-color: #ec0000; */
    width: 80%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 10px; */
    animation-direction: alternate;
}

#pedra{
    /* background-color: #d3d3d3; */
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

/* outra Seção */

ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 10px;
    margin: 0;
    /* width: 100%; */
    /* background-color: red; */
}
li{
   margin: 10px;
}

button{
    background-color: #2a2a2a;
    border: none;
    color: white;
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    padding: 10px;
    border-radius: 20px;
    font-family: 'Comic Neue', cursive;

  
}

button:hover{
   background-color: #252525;
}

button:active{
    transform: scale(0.9);
    background-color: #1c1d1c;
}

#menusUpgrades{
    background-color: rgb(74, 74, 74);
    border-radius: 0px 20px 20px 0px;
    width: 40%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}



article{
    width: 90%;
    display: none;
}


/* renacimento */

#textoRenacer{
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-shadow: 2px 20px 10px black;
    text-align: center;
    animation: mudarCor 5s infinite linear;
}

#imagemRenacimento{
    width: 80px;
    height: 80px;
}	

#botaoRenacer{
    background-color: #0e0e07;
    display: flex;
    align-self: center;
    justify-content: center;
    width: max-content;
    height: max-content;
}

#renacimento{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    justify-content: center;
    width: 50%;
    height: max-content;
}

#telaRenacimento{
    position: relative;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 70vh;
    background-color: #7e0101c9;
    border-radius: 30px;
}

#tituloRenacer{
    color: #ff0000;
    font-size: 50px;
    font-weight: bold;
    text-shadow: 2px 20px 10px black;
    text-align: center;
    animation: mudarCor 4s infinite linear;
    margin: 0;
    padding: 0;
}

#textoRenacer2{
    color: #ff0000;
    filter: blur(1px);
    font-size: 35px;
    font-weight: bold;
    text-shadow: 2px 20px 10px black;
    text-align: center;
}

#botaoSim{
    background-color: #140000;
    display: flex;
    font-size: 20px;
    color: red;
    align-self: center;
    justify-content: center;
    width: 50px;
    height: 50px;
}

#botaoNao{
    background-color: #ff0000;
    font-size: 20px;
    color: #140000;
    display: flex;
    align-self: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin-top: 50px;
}

#fundoRenacimento{
    display: none;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

}

#fundoRenacimento::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url('imagens/fundoErro.jpeg');
    background-position: center;
    background-position: center;
    filter: brightness(0.4);
    z-index: -1;
}

#telaRenacimento p{
    color: #ff0000;
  font-weight: bold;
  text-shadow:
    0 0 15px #ff0000,
    0 10px 10px #000000,
}

#telaRenacer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: #aa00ff; */
    width: 100%;
    height: 80%;
}

#abrirLoja{
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    width: 70px;
    height: 70px;
}
#abrirLoja:hover{
    transition: 500ms;
    background-color: #570000;
    cursor: pointer;
}

#abrirLoja:active{
    transform: scale(0.9);
    background-color: #b50000;
}

#imagemLoja{
    width: 60px;
    height: 60px;
}

#textoLoja p{
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
    text-shadow: 2px 20px 10px black;
    text-align: center;
    animation: mudarCor 5s infinite linear;
    margin: 10px;
    padding: 0;
}

#lojaRenacimento{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70%;
    /* background-color: #00ff00; */
}

#botaoIrRenacer{
    background-color: #681310;
    box-shadow: rgb(255, 85, 85) 0px 0px 20px;
    position: absolute;
    top: 25px;
    right: 10px;
    color: rgb(216, 0, 0);
    font-weight: bold;
    top: 10px;
    right: 10px;
    width: max-content;
    height: max-content;
}

#botaoIrRenacer:hover{
    transition: 500ms;
    scale: 1.08;
    background-color: #ff0000;
}

#containerCanvas{
    position: relative;
    width: 100%;
    max-width: 800px;
    height: 100%;
    aspect-ratio: 4 / 3; 
    margin: auto;
    border: 1px solid #000;
    background-color: #00ff00;
}

#canvas{
    background-color: rgb(143, 1, 1);
    width: 70%;
    height: 100%;
    display: block;
}

img{
    width: 100%;
    height: 100%;
    display: block;
}

.quadrados{
    background-color: #c40909;
    box-shadow: rgb(255, 85, 85) 0px 0px 20px;
    width: 70px;
    height: 70px;
    border-radius: 4px;
}

.quadrados:hover{
    transition: 500ms;
    scale: 1.08;
    background-color: #ff0000;
}

#botaoComprarPicareta2{
    position: absolute;
    top: 25px;
    left: 10px;
}

#botaoComprarPicareta3{
    position: absolute;
    top: 25px;
    left: 100px;
}

#botaoComprarPicareta4{
    position: absolute;
    top: 25px;
    left: 190px;
}

#botaoComprarPicareta5{
    position: absolute;
    top: 25px;
    left: 280px;
}

#botaoComprarPedra2{
    position: absolute;
    top: 125px;
    left: 10px;
}

#botaoComprarPedra3{
    position: absolute;
    top: 125px;
    left: 100px;
}

#botaoComprarPedra4{
    position: absolute;
    top: 125px;
    left: 190px;
}

#botaoComprarPedra5{
    position: absolute;
    top: 125px;
    left: 280px;
}

#botaoComprarFundo2{
    position: absolute;
    top: 225px;
    left: 10px;
    background-color: darkblue;
}

#botaoComprarFundo3{
    position: absolute;
    top: 225px;
    left: 100px;
    background-color: brown;
}

#botaoComprarFundo4{
    position: absolute;
    top: 225px;
    left: 190px;
    background-color: cornflowerblue;
}

#botaoComprarFundo5{
    position: absolute;
    top: 225px;
    left: 280px;
    background-color: moccasin;
}

#itemSelecionado{
    background-color: rgb(59, 55, 58);
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}

#fotoItemSelecionado{
    width: 60%;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #3e3e32; */

}

#itemSelecionado p{
    color: white;
    font-size: 10px;
    text-shadow: 1px 10px 5px rgb(172, 172, 172);
    margin: 0;
    padding: 0;
}

#precoItemSelecionado{
    /* background-color: #ff0000; */
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

#descricaoItemSelecionado{
    /* background-color: #00ff04; */
    width: 100%;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 20px;
    margin: 10px;
}

#botaoComprar{
    background-color: #ff0000;
    width: 12vw;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    padding: 5px;
    color: white;
}










@keyframes mexerBotao{
    0%{
        rotate: 0deg;
        border-radius: 30px 30px 20px 10px;
    }
    25%{
        rotate: 90deg;
        border-radius: 10px 20px 10px 20px;

    }
    50%{
        rotate: 180deg;
        border-radius: 30px 20px 20px 10px;

    }
    75%{
        rotate: 270deg;
        border-radius: 20px 10px 40px 30px;

    }
    100%{
        rotate: 360deg;
        border-radius: 30px 30px 20px 20px;

    }
}

@keyframes abrirTelaRenacimento{
    from{
        display: none;
        opacity: 0;
        width: 0;
        height: 0;
    }
    to{
        display: flex;
        opacity: 1;
        width: 70%;
        height: 70vh; 
    }
    
}

@keyframes mudarCor{
    0%{
        color: #ff0000;
    }
    25%{
        color: #00ff00;
    }
    50%{
        color: #f6ff00;
    }
    75%{
        color: #ff0090;
    }
    100%{
        color: #aa00ff;
    }
    
}



@keyframes minerar{
    0%{
        translate: 0px;
        rotate: 0deg;
    }
    50%{
        translate: 50px;
        rotate: 20deg;
    }
    100%{
        translate: 90px;
        rotate: 30deg;
    }
    
}

@keyframes pedraHit {
    to{
        transform: scale(1);
        
    }
    from{
        transform: scale(0.9);
    }
}

@keyframes pedraMorre {
    to{
        transform: scale(1);
        transition: rotate 0.5s;
        rotate: 360deg;
        
    }
    from{
        transform: scale(0);
        opacity: 0.5;
    }
    
}

@media (max-width: 725px) {

    body{
        display: block;
        /* align-items: none;
        justify-content: none; */
    }
    
    button{
        /* background-color: red; */
        font-size: 10px;
        padding: 5px;
    }

    li{
        margin: 3px;
    }

    .quadrados{
        background-color: #c40909;
        box-shadow: rgb(255, 85, 85) 0px 0px 20px;
        width: 40px;
        height: 40px;
        border-radius: 4px;
    }

    #botaoComprarPicareta2{
        position: absolute;
        top: 25px;
        left: 10px;
    }

    #botaoComprarPicareta3{
        position: absolute;
        top: 25px;
        left: 70px;
    }

    #botaoComprarPicareta4{
        position: absolute;
        top: 25px;
        left: 130px;
    }

    #botaoComprarPicareta5{
        position: absolute;
        top: 25px;
        left: 190px;
    }

    #botaoComprarPedra2{
        position: absolute;
        top: 85px;
        left: 10px;
    }

    #botaoComprarPedra3{
        position: absolute;
        top: 85px;
        left: 70px;
    }

    #botaoComprarPedra4{
        position: absolute;
        top: 85px;
        left: 130px;
    }

    #botaoComprarPedra5{
        position: absolute;
        top: 85px;
        left: 190px;
    }

    #botaoComprarFundo2{
        position: absolute;
        top: 145px;
        left: 10px;
    }

    #botaoComprarFundo3{
        position: absolute;
        top: 145px;
        left: 70px;
    }

    #botaoComprarFundo4{
        position: absolute;
        top: 145px;
        left: 130px;
    }

    #botaoComprarFundo5{
        position: absolute;
        top: 145px;
        left: 190px;
    }



}
