@media (max-width: 725px) {

    body{
        display: block;
        height: auto; /* Permite scroll em telas pequenas */
        /* align-items: none;
        justify-content: none; */
    }

    #container {
        flex-direction: column; /* Empilha as seções */
        height: auto;
    }

    #mineracao, #menusUpgrades {
        width: 90%; /* Ocupa quase toda a largura */
        border-radius: 20px;
        margin-bottom: 20px;
    }
    
    button{
        /* background-color: red; */
        font-size: 10px;
        padding: 5px;
    }

    li{
        margin: 3px;
    }

    .quadrados{
        background-color: #c40909;
        box-shadow: rgb(255, 85, 85) 0px 0px 20px;
        width: 40px;
        height: 40px;
        border-radius: 4px;
    }

    #botaoComprarPicareta1{
        position: absolute;
        top: 25px;
        left: 10px;
    }

    #botaoComprarPicareta2{
        position: absolute;
        top: 25px;
        left: 70px;
    }

    #botaoComprarPicareta3{
        position: absolute;
        top: 25px;
        left: 130px;
    }

    #botaoComprarPicareta4{
        position: absolute;
        top: 25px;
        left: 190px;
    }

    #botaoComprarPicareta5{
        position: absolute;
        top: 25px;
        left: 250px;
    }

    #botaoComprarPedra1{
        position: absolute;
        top: 85px;
        left: 10px;
    }

    #botaoComprarPedra2{
        position: absolute;
        top: 85px;
        left: 70px;
    }

    #botaoComprarPedra3{
        position: absolute;
        top: 85px;
        left: 130px;
    }

    #botaoComprarPedra4{
        position: absolute;
        top: 85px;
        left: 190px;
    }

    #botaoComprarPedra5{
        position: absolute;
        top: 85px;
        left: 250px;
    }

    #botaoComprarFundo1{
        position: absolute;
        top: 145px;
        left: 10px;
        background-color: #2a2a2a;
    }

    #botaoComprarFundo2{
        position: absolute;
        top: 145px;
        left: 70px;
    }

    #botaoComprarFundo3{
        position: absolute;
        top: 145px;
        left: 130px;
    }

    #botaoComprarFundo4{
        position: absolute;
        top: 145px;
        left: 190px;
    }

    #botaoComprarFundo5{
        position: absolute;
        top: 145px;
        left: 250px;
    }

    #telaRenacimento {
        width: 90%; /* Ocupa mais tela no mobile */
    }

    #lojaRenacimento #containerCanvas {
        flex-direction: column;
        aspect-ratio: unset;
        height: auto;
    }

    #lojaRenacimento #canvas {
        width: 100%;
        height: 200px; /* Altura fixa para o canvas */
    }

    #lojaRenacimento #itemSelecionado {
        position: relative;
        width: 100%;
        height: auto;
        margin-top: 10px;
    }

    #botaoComprar {
        width: 50%; /* Botão de comprar maior no mobile */
    }

}

