/* ** REGRAS ATUALIZADAS PARA TELA DE RENASCIMENTO ** */
#telaRenacimento{
    position: relative;
    display: none; /* Inicia escondido, JS controla */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 70vh;
    background-color: #7e0101c9;
    border-radius: 30px;
    opacity: 0; /* Inicia transparente para animação */
    transform: scale(0.9); /* Inicia menor para animação */
    z-index: 200;
}

/* Novas classes para controlar animação */
#telaRenacimento.abrir {
    animation: fadeInScaleUp 0.5s ease-out forwards;
}

#telaRenacimento.fechar {
    animation: fadeOutScaleDown 0.5s ease-in forwards;
}

#tituloRenacer{
    color: #ff0000;
    font-size: 50px;
    font-weight: bold;
    text-shadow: 2px 20px 10px black;
    text-align: center;
    animation: mudarCor 4s infinite linear;
    margin: 0;
    padding: 0;
}

#textoRenacer2{
    color: #ff0000;
    filter: blur(1px);
    font-size: 35px;
    font-weight: bold;
    text-shadow: 2px 20px 10px black;
    text-align: center;
}

#botaoSim{
    background-color: #140000;
    display: flex;
    font-size: 20px;
    color: red;
    align-self: center;
    justify-content: center;
    width: 50px;
    height: 50px;
}

#botaoNao{
    background-color: #ff0000;
    font-size: 20px;
    color: #140000;
    display: flex;
    align-self: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin-top: 50px;
}

#fundoRenacimento{
    display: none; /* Inicia escondido, JS controla */
    position: absolute; /* Cobre a tela toda */
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    z-index: 199; /* Fica abaixo do modal, mas acima do jogo */
}

#fundoRenacimento::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url('../imagens/fundoErro.jpeg');
    background-position: center;
    background-size: cover; /* Garante que cubra tudo */
    filter: brightness(0.4);
    z-index: -1;
}

#telaRenacimento p{
    color: #ff0000;
    font-weight: bold;
    text-shadow:
        0 0 15px #ff0000,
        0 10px 10px #000000;
}

#telaRenacer{
    display: none; /* JS controla */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: #aa00ff; */
    width: 100%;
    height: 80%;
}

#abrirLoja{
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    width: 70px;
    height: 70px;
}

#abrirLoja:hover{
    transition: 500ms;
    background-color: #570000;
    cursor: pointer;
}

#abrirLoja:active{
    transform: scale(0.9);
    background-color: #b50000;
}

#imagemLoja{
    width: 60px;
    height: 60px;
}

#textoLoja p{
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
    text-shadow: 2px 20px 10px black;
    text-align: center;
    animation: mudarCor 5s infinite linear;
    margin: 10px;
    padding: 0;
}

#lojaRenacimento{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70%;
    /* background-color: #00ff00; */
}

#botaoIrRenacer{
    background-color: #681310;
    box-shadow: rgb(255, 85, 85) 0px 0px 20px;
    position: absolute;
    top: 25px;
    right: 10px;
    color: rgb(216, 0, 0);
    font-weight: bold;
    top: 10px;
    right: 10px;
    width: max-content;
    height: max-content;
}

#botaoIrRenacer:hover{
    transition: 500ms;
    scale: 1.08;
    background-color: #ff0000;
}

#containerCanvas{
    position: relative;
    width: 100%;
    max-width: 800px;
    height: 100%;
    aspect-ratio: 4 / 3; 
    margin: auto;
    border: 1px solid #000;
    /* background-color: #00ff00; */ /* Removido para ver o canvas */
}

#canvas{
    background-color: rgb(143, 1, 1);
    width: 70%;
    height: 100%;
    display: block;
}

.quadrados{
    background-color: #c40909;
    box-shadow: rgb(255, 85, 85) 0px 0px 20px;
    width: 70px;
    height: 70px;
    border-radius: 4px;
    padding: 5px; /* Adiciona espaço para a imagem */
    box-sizing: border-box; /* Garante que padding não aumente o tamanho */
}

.quadrados:hover{
    transition: 500ms;
    scale: 1.08;
    background-color: #ff0000;
}

#botaoComprarPicareta1{
    position: absolute;
    top: 25px;
    left: 10px;
}

#botaoComprarPicareta2{
    position: absolute;
    top: 25px;
    left: 100px;
}

#botaoComprarPicareta3{
    position: absolute;
    top: 25px;
    left: 190px;
}

#botaoComprarPicareta4{
    position: absolute;
    top: 25px;
    left: 280px;
}

#botaoComprarPicareta5{
    position: absolute;
    top: 25px;
    left: 370px;
}

#botaoComprarPedra1{
    position: absolute;
    top: 125px;
    left: 10px;
}

#botaoComprarPedra2{
    position: absolute;
    top: 125px;
    left: 100px;
}

#botaoComprarPedra3{
    position: absolute;
    top: 125px;
    left: 190px;
}

#botaoComprarPedra4{
    position: absolute;
    top: 125px;
    left: 280px;
}

#botaoComprarPedra5{
    position: absolute;
    top: 125px;
    left: 370px;
}

#botaoComprarFundo1{
    position: absolute;
    top: 225px;
    left: 10px;
    background-color: #2a2a2a;
}

#botaoComprarFundo2{
    position: absolute;
    top: 225px;
    left: 100px;
    background-color: darkblue;
}

#botaoComprarFundo3{
    position: absolute;
    top: 225px;
    left: 190px;
    background-color: brown;
}

#botaoComprarFundo4{
    position: absolute;
    top: 225px;
    left: 280px;
    background-color: cornflowerblue;
}

#botaoComprarFundo5{
    position: absolute;
    top: 225px;
    left: 370px;
    background-color: moccasin;
}

#itemSelecionado{
    background-color: rgb(59, 55, 58);
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    padding: 10px;
    box-sizing: border-box;
}

#fotoItemSelecionado{
    width: 60%;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #3e3e32; */
}

#itemSelecionado p{
    color: white;
    font-size: 10px;
    text-shadow: 1px 10px 5px rgb(172, 172, 172);
    margin: 0;
    padding: 0;
}

#precoItemSelecionado{
    /* background-color: #ff0000; */
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-size: 12px; /* Aumentado */
    text-align: center; /* Adicionado */
}

#descricaoItemSelecionado{
    /* background-color: #00ff04; */
    width: 100%;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 10px; /* Ajustado */
    margin: 10px;
    font-size: 12px; /* Aumentado */
    text-align: center; /* Adicionado */
    box-sizing: border-box;
}

#botaoComprar{
    background-color: #ff0000;
    width: 12vw;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    padding: 5px;
    color: white;
}

/* Animações do renascimento */
@keyframes fadeInScaleUp {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeOutScaleDown {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0.9);
    }
}

@keyframes pulsar {
    0% {
        transform: scale(1);
        box-shadow: 0 0 15px #ff0000;
    }
    50% {
        transform: scale(1.1);
        box-shadow: 0 0 25px #ff0000;
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 15px #ff0000;
    }
}

@keyframes wobble {
    0%, 100% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-5deg);
    }
    75% {
        transform: rotate(5deg);
    }
}

